<p id="notice">
    <%= notice %>
</p>

<h1>Items</h1>




<table>
    <thead>
        
    </thead>

    <tbody>
    <table>

    <% @items.each do |item| %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="col-6"> 
              <div class="card m-4" style="width: 18rem;">
                  <div class="card-body">
                    <img class="card-img-top" src="<%= item.image_url %>" alt="Card image cap">
                    <h5 class="card-title"><%= item.title %></h5>
                    <p class="card-text"><%= item.description %></p>
                    <span class="btn btn-secondary"><%= link_to 'More information', item_path(item.id) %></span>
                    <%= item.price %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
  <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>