<p id="notice">
    <%= notice %>
</p>

<h1>Cat Pictures</h1>

<div class="container">
    <div class="card mb-3">
        <img style=" width: 100%; display: block;" src="assets/cat_1.jpeg" alt="Card image">
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>


<table>
    <thead>
        <tr>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @cat_pictures.each do |cat_picture| %>
            <tr>
                <td>
                    <%= link_to 'Show', cat_picture %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_cat_picture_path(cat_picture) %>
                </td>
                <td>
                    <%= link_to 'Destroy', cat_picture, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>
</div>

<br>

<%= link_to 'New Cat Picture', new_cat_picture_path %>